#style1 {
    background-color: rgb(248, 247, 244);
    margin: auto;
    width: 60%;
    padding: 30px;
  }
  
  span {
      font-weight: bold;
  }

  .file4 {
      width: 75%;
      margin: auto;
      padding-left: 3%;
      background-color: rgb(248, 247, 244);
      align-content: center;

  }