#style1 {
    background-color: rgb(248, 247, 244);
    margin: auto;
    width: 60%;
    padding: 30px;
  }
  
  span {
      font-weight: bold;
  }

  .file4 {
      width: 50%;
      margin: auto;
      padding: 2% 0% 4% 4%;
      background-color: antiquewhite;
      align-content: center;

  }